---
import type { ResultsEntity } from './ResultsEntity';

const { result }: { result: ResultsEntity } = Astro.props;
---

<div class="result-card">
    <h2>{result.team1Name} vs {result.team2Name}</h2>
    <p>Date : {result.date}</p>
    <p>Score : {result.team1Score} - {result.team2Score}</p>
    {result.matchLink && <a href={result.matchLink} target="_blank">Voir plus</a>}
</div>
